@use "../modalitylayer/modalitylayer-mixins.scss" as *;

.appcanvas
{
  position: absolute;
  bottom: 0;
  left: -100vw;
  overflow: hidden;
  width: 100%;
  top: 0;
  z-index: 0;
  display:flex;

  &--visible
  {
    left: 0;
  }
}

.appcanvas__screens
{
  flex:1 0 0px;
  position:relative;
}

.appcanvas__docpanel
{
  height:100%;
}

//* Active modality layer */
.appcanvas.appcanvas--isbusy {
  @include tolliummodalitylayer-activate;
  @include tolliummodalitylayer-showbusy;
}

.appcanvas
{
  background-color:rgba(255,255,255,.08); /* background-color: #4a4a4a; */
}
