.tolliummodalitylayer {
  display: none;
  z-index: 999999;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* Inspired by: https://ihatetomatoes.net/create-css3-spinning-preloader/

   When updating the animation periods, please update the least common multiple
   in setBusyFlag.
*/

.tolliummodalitylayer__loader
{
  animation: tolliummodalitylayer__spin 1s linear infinite;
  border: 5px solid transparent;
  border-left-color: #4c95f0;
  border-radius: 50%;
  height: 64px;
  left: 50%;
  margin: -32px 0 0 -32px;
  position: absolute;
  top: 50%;
  width: 64px;
  opacity: 0;
}

.tolliummodalitylayer__loader:before
{
  animation: tolliummodalitylayer__spin 3s linear infinite;
  animation-delay: inherit;
  border: 5px solid transparent;
  border-top-color: #f3ba1e;
  border-radius: 50%;
  bottom: 5px;
  content: "";
  left: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.tolliummodalitylayer__loader:after
{
  animation: tolliummodalitylayer__spin 1.5s linear infinite;
  animation-delay: inherit;
  border: 5px solid transparent;
  border-right-color: #db2727;
  border-radius: 50%;
  bottom: 15px;
  content: "";
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

@keyframes tolliummodalitylayer__spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
